header {
    position: absolute;
    width: 100vw;
    z-index: 1;
    padding-top: 20px;
    font-family: TT Hoves;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    .conteiner{
        display: flex;
        justify-content: space-between;
        .logo{
        height: 50px;
        display: block;
        img{
            height: 100%;
        }
        }
        nav{
            ul{
                display: flex;
                padding: 0;
                li{
                    list-style: none;
                    margin: 0 20px;
                }
                .hMenu{
                    position: relative;
                    display: flex;
                    ul{
                        display: none;
                        flex-direction: column;
                        background: #F9F9F9;
                        li{
                            margin: 0;
                            width: auto;
                            padding: 10px 5px;
                            white-space: nowrap;
                        &:hover{
                            background:#32495E;
                        }
                        &:hover a{color: #F9F9F9;}
                        }
                    }
                }
                .triangle{
                    border: 3px solid transparent; 
                    border-top: 3px solid #E95258;
                    transform: translate(6px, 8px);
                }
                .hMenu ul.open{
                    display: flex;
                    position: absolute;
                    transform: translateY(25px);
                    box-shadow: 0 8px 8px -1px #32323240;
                }
            }
        }
    }
  }