include ../../mixins/link.pug
header.header
    div.conteiner
        +link("#","logo")
            img(src="./img/logo.png")
        nav
            ul
                li
                    +link("../../pades/index.pug") Главная
                li.hMenu
                    |Наши услуги
                    .triangle
                    ul
                        li
                            +link("#") Травма-реабилитационный центр
                        li
                            +link("#") Кардио-реабилитационный центр
                        li
                            +link("#") Травма-реабилитационный центр
                        li
                            +link("#") Кардио-реабилитационный центр
                li 
                    +link("../../pades/seccond.pug") Отчеты
                li.hMenu
                    |О нас
                    .triangle
                    ul
                        li
                            +link("#") Оздоровительный центр
                        li
                            +link("#") Наши специалисты
                        li
                            +link("#") Как нас найти?
                li
                    +link("#") Новости
                li.hMenu
                    |РУС
                    .triangle
                    ul
                        li
                            +link("#") РУС
                        li
                            +link("#") ENG