.our-specialists{
    padding: 50px 0;
    background: #f9f9f9;
    .specialists{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .detail{
        background: #F9F9F9;
        width: 160px;
        height: 50px;
        border: 1px solid #32495E;
        border-radius: 100px;
    }
}