include ../../mixins/people/people.pug

section.our-specialists
    div.conteiner
        h2 Наши специалисты
        div.specialists
            +people("./img/stetoscope.png","Заголовок","текст")
            +people("./img/stetoscope.png","Заголовок","текст")
            +people("./img/stetoscope.png","Заголовок","текст")
            +people("./img/stetoscope.png","Заголовок","текст")
        button.detail Подробнее