.card{
    width: 279px;
    height: 322px;
    picture{
        width: 279px;
        height: 240px;
        display: block;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}