footer{
    padding: 50px 0 40px;
    color:#F9F9F9;
    background: #333333;
    .footer-wrap{
        display: flex;
        picture{
            width: 206px;
            height: 44.87px;
            display: block;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}