footer
    .conteiner
        .footer-wrap
            picture
                img(src="./img/logo-white.png")
            .map-site
                p.title Карта сайта
            .connect-our
                p.title Связаться с нами
            .anchor
                p На верх
        .copirait
            p © Все права защищены 2020 ТОО «Кардиореабилитационный центр «Тулпар»