.recommendations{
    padding: 50px 0;
    .company{
        display: flex;
        justify-content: space-between;
        picture{
            width: 178px;
            height: 178px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}