section.recommendations
    .conteiner
        h2 Нас рекомендуют
        .company
            picture
                img(src="./img/stetoscope.png")
            picture
                img(src="./img/stetoscope.png")
            picture
                img(src="./img/stetoscope.png")
            picture
                img(src="./img/stetoscope.png")
            picture
                img(src="./img/stetoscope.png")
