.report{
    padding: 50px 0;
    background: #32495E;
    color: #F9F9F9;
    position: relative;
    z-index: 0;
    .sorting{
        display: flex;
        a{
        color: #F9F9F9;
        width: 150px;
        }
    }
    .show-all{
        background: #32495E;
        color: #F9F9F9;
        width: 160px;
        height: 50px;
        border: 1px solid #F9F9F9;
        border-radius: 100px;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0;
    }
    .band{
        position: absolute;
        height: 100%;
        width: 200px;
        right: 10%;
        top: 0;
        background: linear-gradient(to right, #49647D 33%, transparent 33%, transparent 66%, #49647D 66%);
        z-index: -1;
    }
}