include ../../mixins/link.pug
include ../../mixins/gallery/gallery.pug

section.report
    .conteiner
        h2 Фото и видео отчеты
        .sorting
            +link("#") показать все
            +link("#") только фото
            +link("#") только видео
        .gallery
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
            +gallery("./img/stetoscope.png")
        button.show-all Показать все
    div.band