@font-face {
	font-family: "TTHoves"; 
    src: url(../fonts/TTHoves-Regular.ttf) format(truetype),
        url(../fonts/TTHoves-Regular.woff) format(woff),
        url(../fonts/TTHoves-Regular.woff2) format(woff2); 
}

*{
  font-family: "TTHoves", cursive;
}