@import "../../node_modules/normalize.css/normalize.css";
// @import "./fonts.scss";
@import "../mixins/link.scss";
@import "../includes/header/header.scss";
@import "../includes/main-centres/main-centres.scss";
@import "../includes/our-services/our-services.scss";
@import "../mixins/card/card.scss";
@import "../includes/our-specialists/our-specialists.scss";
@import "../mixins/people/people.scss";
@import "../includes/price-list/price-list.scss";
@import "../includes/reports/report.scss";
@import "../mixins/gallery/gallery.scss";
@import "../includes/news/news.scss";
@import "../includes/questions/questions.scss";
@import "../includes/recommendations/recommendations.scss";
@import "../includes/contacts/contacts.scss";
@import "../includes/footer/footer.scss";


body {
  color: #32495E;
  overflow-x: hidden;
  font-family: "TT Hoves",cursive;
  .conteiner{
    margin: 0 auto;
    max-width: 1170px;
    h2{
      font-size: 44px;
      margin-top: 0;
    }
  }
}