section.questions
    .band-vertical
        .conteiner
            h2 Вопрос ответ
    .conteiner
        .questions-wrap
            ul
                li Вопрос 1
                    .arrow
                li Вопрос 2
                    .arrow
                li Вопрос 3
                    .arrow
                li Вопрос 4
                    .arrow
                li Вопрос 5
                    .arrow
                li Вопрос 6
                    .arrow
                li Вопрос 7
                    .arrow
                li Вопрос 8
                    .arrow
            .answer
                p Ответ
                p Какой-то ответ на вопрос 1.