.questions{
    padding: 50px 0;
    background: #32495E;
    color: #F9F9F9;
    .band-vertical{
        background: #49647D;
        width: 100vw;
        h2{
        padding: 10px 0;
        }
    }
    .questions-wrap{
        display: flex;
        ul{
            list-style: none;
            width: 259px;
            padding: 0;
            margin-right: 190px;
            li{
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                .arrow{
                    background-color: #8093AC;
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    &:active{
                        background-color: #E95258;
                    }
                }
            }
        }
        .answer{
            p:first-child{
                font-weight: bold;
            }
        }
    }
}