extends ../layouts/baseLayout

block head
    title Главная

block content
    include ../includes/main-centres/main-centres.pug
    include ../includes/our-services/our-services.pug
    include ../includes/our-specialists/our-specialists.pug
    include ../includes/price-list/price-list.pug
    include ../includes/reports/report.pug
    include ../includes/news/news.pug
    include ../includes/questions/questions.pug
    include ../includes/recommendations/recommendations.pug
    include ../includes/contacts/contacts.pug
    include ../includes/footer/footer.pug
    //- button.sayHello сказать привет
    //- a(href='./second.html') привет