section.price-list
    .conteiner
        h2 Прайс лист
        div.price-title 
            .price-title__column
                p Название услуги
                p Стоимость
            .price-title__column
                p Название услуги 
                p Стоимость
        ul
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
            li 
                p Название услуги в несколько строк
                p 3000 / час
        button.read-full Читать полностью
    div.band
