.price-list{
    padding: 50px 0;
    position: relative;
    .price-title{
        display: flex;
        justify-content: space-between;
        .price-title__column{
            display: flex;
            justify-content: space-between;
            width: 45%;
        }
    }
    ul{
        list-style: none;
        padding: 0;
        column-count: 2;
        column-gap: 117px;
        li{
            display: flex;
            justify-content: space-between;
            column-width: 70%;
        }
    }
    .read-full{
        background: transparent;
        width: 160px;
        height: 50px;
        border: 1px solid #32495E;
        border-radius: 100px;
    }
    .band{
        position: absolute;
        height: 100%;
        width: 200px;
        right: 10%;
        top: 0;
        background: linear-gradient(to right, #F3F5FA 33%, transparent 33%, transparent 66%, #F3F5FA 66%);
        z-index: -1;
    }
}