section.centres
    div.cardio-centre
        div.Stethoscope
            img(src="./img/Stethoscope.png", alt="")
        div.conteiner-centres
            h2 Кардио-реаблитационный центр
            p Кардиореабилитация представляет собой совокупность восстанавливающих процедур и диагностических методик, 
                |направленных на восстановление естественной жизнедеятельности пациентов, которые перенесли операции или имеют заболевания сердечно-сосудистой системы.
            ul
                li Консультативные услуги
                li Функциональная диагностика
                li Анестезиология и реаниматология
                li Общеклинические исследования
            button.cardio-service Все услуги
    div.trauma-centre
        div.bed
            img(src="./img/bed.png", alt="")
        div.conteiner-centres
            h2 Травма-реабилитационный центр
            p Реабилитация пациентов травматолого-ортопедического профиля включает мероприятия, 
                |направленные на устранение последствий травм, ранее проведённых операций, врождённых патологий и т. д.
            ul
                li Физиотераптические процедуры
                li Механотерапия
                li Массаж
                li Сервисные и административные услуги
            button.trauma-service Все услуги