.centres{
    height: 800px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    .cardio-centre{
        padding: 200px 100px 100px 172px;
        width: 50%;
        background: #E95258;
        color: #F9F9F9;
        display: flex;
        justify-content: flex-end;
        transition: width 0.2s ease-out;
        .conteiner-centres{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            max-width: 428px;
            height: 100%;
            h2,p{
                direction: rtl;
            }
            ul{
                list-style: circle;
                direction: rtl;
                float: left;
                padding: 0 17px 0 0;
            }
            button{
                background: #E95258;
                color: #F9F9F9;
                width: 160px;
                height: 50px;
                border: 1px solid #F9F9F9;
                border-radius: 100px;
            }
        }
        .Stethoscope{
            position: absolute;
            transform: translate(0,43px);
            width: 395px;
            height: 557px;
            left: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &:hover{
            width: 65%;
            // animation: hover-centres 2s infinite linear;
            // animation-iteration-count: 1;
        }
    }
    .trauma-centre{
        padding: 200px 172px 100px 100px;
        width: 50%;
        position: relative;
        overflow: hidden;
        background: #F9F9F9;
        transition: width 0.2s ease-out;
        .conteiner-centres{
            max-width: 428px;
            height: 100%;
            ul{
                list-style: circle;
                padding: 0 0 0 17px;
            }
            button{
                background: #F9F9F9;
                width: 160px;
                height: 50px;
                border: 1px solid #32495E;
                border-radius: 100px;
            }
        }
        .bed{
            position: absolute;
            transform: translate(43%, 0px);
            right: 0;
            bottom: 0;
            width: 748px;
            height: 448px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &:hover{
            width: 65%;
            // animation: hover-centres 2s 1 ease-out;
            // animation-iteration-count: 1;
        }
    }
}

@keyframes hover-centres {
    0% {width: 50%;}
    100% {width: 65%;}
    }