.people{
    width: 241px;
    height: 226px;
    picture{
        width: 98px;
        height: 98px;
        border-radius: 100%;
        display: block;
        overflow:hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}