.our-services{
     padding: 50px 0;
     color:#F9F9F9;
     background: #32495E;
    .services{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .service{
        background: #32495E;
        color: #F9F9F9;
        width: 160px;
        height: 50px;
        border: 1px solid #F9F9F9;
        border-radius: 100px;
    }
}