include ../../mixins/card/card.pug

section.our-services
    div.conteiner
        h2 Наши услуги
        div.services
            +card("./img/stetoscope.png","Заголовок","текст")
            +card("./img/stetoscope.png","Заголовок","текст")
            +card("./img/stetoscope.png","Заголовок","текст")
            +card("./img/stetoscope.png","Заголовок","текст")
        button.service Все услуги