section.contacts
    .conteiner
        h2 Контакты
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad06a881b34a8d86ba4caba7b6159ea8cc2ce8cf7d69bbc4991334813aeaefc70&amp;width=1170&amp;height=360&amp;lang=ru_RU&amp;scroll=true"></script>
        .contact
            .address
                p.title Адрес компании
                p.
                    Казахстан
                    г.Караганда ул.Кривогуза 79
            .number-phone
                p.title Номера телефонов
                p.
                    8 (7212) 43-86-01
                    43-86-02 
                    43-89-98
            .connect
                p.title Дополнительные способы связи
                p tulpar.krts@mail.ru