.news-advices{
     padding: 50px 0;
     color: #32495E;
     background: #F9F9F9;
    .new-advice{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0;
    }
    .sorting-news{
        display: flex;
        a{
        color: #32495E;
        width: 150px;
        }
    }
    .all-news{
        background: transparent;
        width: 160px;
        height: 50px;
        border: 1px solid #32495E;
        border-radius: 100px;
    }
}