include ../../mixins/card/card.pug
include ../../mixins/link.pug

section.news-advices
    div.conteiner
        h2 Наши новости и услуги
        .sorting-news
            +link("#") показать все
            +link("#") только фото
            +link("#") только видео
        div.new-advice
            +card("./img/stetoscope.png","Заголовок","текст")
            +card("./img/stetoscope.png","Заголовок","текст")
            +card("./img/stetoscope.png","Заголовок","текст")
            +card("./img/stetoscope.png","Заголовок","текст")
        button.all-news Все новости