//- layout.pug
html
    head
        block head
        link(rel="stylesheet" href="fonts/stylesheet.css")
        link(rel="stylesheet" href="css/style.min.css")
        script(src="js/script.js")
    body
        include ../includes/header/header.pug
        block content
